<!-- Latest compiled and minified CSS -->
<footer class="bg-light text-center text-lg-start" style="padding-top:20px">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <h1><a class="text-dark" >Welcome</a></h1>
  </div>
  <!-- Copyright -->
</footer>