<h4><b>Hello </b><%=@user_name%></h4>
<h5></b>One Iten has been created on your dashboard</b></h5>
 <p><b>Item_name:-</b> <%=@item.item_name%></p>
 <p><b>Item_price:-</b><%=@item.item_price%></p>
 <p><b>Item_Quantity:-</b><%=@item.item_quatity%></p>
 <h5><b>Thanks</b></h5>