
<%= render 'navbar'%>

<%= stylesheet_link_tag    :all %>
<h1>Welcome</h1>

 <%# <%= image_tag "images/inventory-management.jpg", height: 300 %> 
<%# /home/ubuntu/Desktop/Inventory_Management/app/assets/images/inventory-management.jpg %>
