<%= render 'navbar'%>

<%= stylesheet_link_tag    :all %>

<form action="/userSignup" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="...">

  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>


    <label for="user1_name"><b>Name</b></label><br>
    <input type="text" name="user[name]"  placeholder="Enter name "id="user_name">



    <label for="user_email"><b>Email</b></label><br>
    <input type="text" name="user[email]"  placeholder="Enter email "id="user_email" required>

  <label for="user1_password"><b>Password</b></label><br>
    <input type="password" name="user[password]"  placeholder="Enter password "id="user_password" required>
       
       <input type="hidden" name="user[user_type]"   value=<%="seller"%>>

    <div class="clearfix">
      <button type="reset" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
