<%= render 'navbar'%>

<%= stylesheet_link_tag    :all %>
 

<form action="/userLogin" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="...">

  <div class="container">
    <h1>Login Here</h1>
    <% if flash[:alert] %>
    <div class="myDiv"><%= flash[:alert] %></div>
<% end %>
    <hr>
    <label for="signup_email"><b>Email</b></label><br>
    <input type="text" name="user[email]"  placeholder="Enter email "id="user_email" required>

  <label for="signup_password"><b>Password</b></label><br>
    <input type="password" name="user[password]"  placeholder="Enter password "id="user_password" required>
  <%# <%= link_to "Signup Here", new_user_path %> 
  <a class="nav-link " 
					href="/sellercreate" tabindex="-1" >Signup Here</a>

    <div class="clearfix">
      <button type="reset" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Login </button>
    </div>
  </div>

</form>
